<form method="post" action="/messages/<%= id %>/comment">
  <label for="comment">Comment</label>
  <input type="text" id="comment" name="comment"/>
  <button type="submit">Add Comment</button>
</form>